.carousel-gallery {
}

.carousel-item-img {
	width: 100%;
	height: 100%;
}

.panel {
	margin-bottom: 0;
}

.area {
	margin-top: 10px;
}

.area .area-title {
	line-height: 35px;
	background-color: rgb(255,255,255);
	font-size: 18px;
	padding-left: 10px;
	font-family: '隶书';
}

.area .area-single-pic {
	height: 130px;
	width: 100%;
}

.area .area-text {
	position: absolute;
	top: 15px;
	left: 80px;
	font-size: 14px;
	color: rgb(255,0,0);
}

.area .area-footer {
}

.area .area-footer .area-footer-text {
	line-height: 35px;
	background-color: rgb(255,255,255);
	text-align: center;
}

#reservationBtn {
	position: "fixed";
	left: 0;
	bottom: 0;
	line-height: 1.8;
	border-radius: 0;
}
