<h1 class="page-header">添加商品</h1>
<div class="row" id="add_product_div">
	<div class="col-sm-8 col-sm-offset-1">
		<form class="form-horizontal" enctype="multipart/form-data">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="product_name">产品名称</label>
				<div class="col-sm-10">
					<input name="productName" type="text" class="form-control" id="product_name" placeholder="产品名称" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="product_intro">产品简介</label>
				<div class="col-sm-10">
					<input name="productIntro" type="text" class="form-control" id="product_intro" placeholder="产品简介" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="product_detail">产品详情</label>
				<div class="col-sm-10">
					<input name="productDetail" type="text" class="form-control" id="product_detail" placeholder="产品详情" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="init_price">原始价格</label>
				<div class="col-sm-10">
					<input name="initPrice" type="number" class="form-control" id="init_price" placeholder="原始价格" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="discount">折扣</label>
				<div class="col-sm-10">
					<input name="discount" type="number" class="form-control" id="discount" placeholder="折扣" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="inventory_number">库存</label>
				<div class="col-sm-10">
					<input name="inventoryNumber" type="number" class="form-control" id="inventory_number" placeholder="库存" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="product_order">产品排序</label>
				<div class="col-sm-10">
					<input name="productOrder" type="number" class="form-control" id="product_order" placeholder="产品排序" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">产品属性</label>
				<div class="col-sm-10">
				    <label class="control-label" data-th-each="prop : ${allProps}">
				        <input name="productAttrs" type="checkbox" data-th-value="${prop.propId}" data-th-text="'&nbsp;' + ${prop.propValue} + '&nbsp;&nbsp;'"/>
				    </label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">产品类型</label>
				<div class="col-sm-10">
					<label class="control-label" data-th-each="type : ${allTypes}">
				        <input type="checkbox" name="productTypes" data-th-if="${type.productTypeId != 1}" data-th-value="${type.productTypeId}"
							   data-th-text="'&nbsp;' + ${type.productTypeName} + '&nbsp;&nbsp;'"/>
				    </label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="product_pics">产品配图</label>
				<div class="col-sm-10">
					<input name="productPics" type="file" id="product_pics" multiple required>
					<p class="help-block">可以同时选择多张图片！可选图片类型bmp、x-png、png、jpeg、jpg</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<button type="button" class="btn btn-primary" id="add_a_product_btn">保存</button>
					<button type="reset" class="btn">重置</button>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">批量导入产品</label>
				<div class="col-sm-10">
					<input name="file" type="file" required />
					<p class="help-block">选择文件后点击导入按钮。</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<button type="button" class="btn btn-primary" id="import_product_btn">批量导入</button>
				</div>
			</div>
		</form>
	</div>
</div>
