<h1 class="page-header">编辑商品</h1>
<div class="row" id="product_list_in_edit_page">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>商品简介</th>
                <th>原始价格</th>
                <th>实际价格</th>
                <th>折扣</th>
                <th>库存量</th>
                <th>销量</th>
                <th>预定量</th>
                <th>顺序</th>
                <th>是否有效</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <ul class="pagination pull-right"></ul>
</div>