<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="renderer" content="webkit"/>
	<title>出错了</title>
	<!-- 引入bootstrap样式 -->
	<link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
	<style type="text/css">
		body { top: 4.5rem; }
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-2">
				<blockquote>
					<p>你终于来看我了！虽然这是因为一个错误！</p>
					<footer><em>糖豆名言</em></footer>
				</blockquote>
			</div>
		</div>
	</div>
</body>
</html>
