<div class="row module-select-dropdown-div">
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            模块选择
        </button>
        <div class="dropdown-menu">
            <div data-th-each="module : ${modules}">
                <a class="dropdown-item" href="#" onclick="selectModule2Manage(this);" data-th-text="${module.moduleName}"></a>
                <span style="display: none;" data-th-text="${module.moduleId}" data-th-id="'module-select-dropdown-span-' + ${module.moduleId}"></span>
            </div>
        </div>
    </div>
</div>
<div class="row module-item-list">
</div>