<div class="table-responsive">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModuleModal">添加模块</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">模块ID</th>
                <th scope="col">模块名</th>
                <th scope="col">父模块ID</th>
                <th scope="col">父模块名</th>
                <th scope="col">模块标题</th>
                <th scope="col">模板编号</th>
                <th scope="col">模块描述</th>
                <th scope="col">模块排序</th>
                <th scope="col">是否有效</th>
                <th scope="col">创建时间</th>
                <th scope="col">更新时间</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="module : ${modules}" onclick="gotoModuleItemManage(this);">
                <th scope="row" data-th-text="${module.moduleId}"></th>
                <td data-th-text="${module.moduleName}"></td>
                <td data-th-text="${module.parentModuleId}"></td>
                <td data-th-text="${module.parentModuleName}"></td>
                <td data-th-text="${module.moduleTitle}"></td>
                <td data-th-text="${module.moduleTemplate}"></td>
                <td data-th-text="${module.moduleDescription}"></td>
                <td data-th-text="${module.moduleOrder}"></td>
                <!-- 0-无效，1-有效 -->
                <td data-th-text="${module.valid} == 0 ? '无效' : '有效'"></td>
                <td data-th-text="${module.creationTime}"></td>
                <td data-th-text="${module.updateTime}"></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" onclick="preUpdateModule(this);">
                        修改
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteModule(this);">
                        删除
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="editModuleModal" tabindex="-1" role="dialog" aria-labelledby="editModuleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModuleModalLabel">编辑模块信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editModuleModalForm" name="editModuleModalForm">
                    <div class="form-group" style="display: none">
                        <label class="sr-only" for="moduleId">模块ID</label>
                        <input id="moduleId" name="moduleId" type="text" style="display: none;" value="-1" required readonly>
                    </div>
                    <div class="form-group row">
                        <label for="moduleName" class="col-3 col-form-label">模块名</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="moduleName" name="moduleName" placeholder="模块名" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="parentModuleId" class="col-3 col-form-label">父模块ID</label>
                        <div class="col-9">
                            <input type="number" class="form-control" id="parentModuleId" name="parentModuleId" placeholder="父模块ID" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="moduleTitle" class="col-3 col-form-label">模块标题</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="moduleTitle" name="moduleTitle" placeholder="模块标题">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="moduleTemplate" class="col-3 col-form-label">模板</label>
                        <div class="col-9">
                            <select class="form-control" id="moduleTemplate" name="moduleTemplate">
                                <option value="0">轮播图</option>
                                <option value="11" selected>单图</option>
                                <option value="21">水平双图</option>
                                <option value="22">垂直双图</option>
                                <option value="31">水平三图</option>
                                <option value="32">左一右二图</option>
                                <option value="33">垂直三图</option>
                                <option value="34">左二右一图</option>
                                <option value="41">上二下二</option>
                                <option value="51">上一下四</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="moduleDescription" class="col-3 col-form-label">模块描述</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="moduleDescription" name="moduleDescription" placeholder="模块描述">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="moduleOrder" class="col-3 col-form-label">模块排序</label>
                        <div class="col-9">
                            <input type="number" class="form-control" id="moduleOrder" name="moduleOrder" placeholder="模块排序" required step="0.1">
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-3 col-form-label">是否有效</label>
                            <div class="col-9">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="valid" id="valid0" value="0">
                                    <label class="form-check-label" for="valid0">无效</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="valid" id="valid1" value="1" checked>
                                    <label class="form-check-label" for="valid1">有效</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="editModuleSubmit();">提交</button>
            </div>
        </div>
    </div>
</div>
