<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="renderer" content="webkit"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>管理台</title>
    <!-- Loading Bootstrap -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <!-- Custom styles for this page -->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">小画仓管理</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#indexNavbarContent" aria-controls="indexNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="indexNavbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="homeManageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        首页管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="homeManageDropdown">
                        <a id="home_module_manage" class="dropdown-item" href="#">首页模块管理</a>
                        <a id="home_module_item_manage" class="dropdown-item" href="#">首页分模块管理</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="orderManageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        订单管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="orderManageDropdown">
                        <a id="all_order_show" class="dropdown-item" href="#">全部订单</a>
                        <a id="pending_payment_order_show" class="dropdown-item" href="#">待付款订单</a>
                        <a id="paid_order_show" class="dropdown-item" href="#">已支付订单</a>
                        <a id="no_receive_order_show" class="dropdown-item" href="#">待收货订单</a>
                        <a id="completed_order_show" class="dropdown-item" href="#">已完成订单</a>
                        <a id="expired_order_show" class="dropdown-item" href="#">已过期订单</a>
                        <a id="cancelled_order_show" class="dropdown-item" href="#">已取消订单</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productManageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        商品管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="productManageDropdown">
                        <a id="add_product_bar" class="dropdown-item" href="#">添加商品</a>
                        <a id="edit_product_bar" class="dropdown-item" href="#">编辑商品</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">注销</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col main">
                <!-- Ajax请求返回代码片段填充此div以供页面显示 -->
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/lib/jquery/jquery-3.3.1.min.js}"></script>
    <!-- Bootstrap 4 requires Popper.js -->
    <script th:src="@{/lib/bootstrap/js/popper.min.js}"></script>
    <!--Bootstrap js-->
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <!-- page -->
    <script th:src="@{/lib/jqpaginator/jqpaginator.min.js}"></script>
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    <!--custom js-->
    <script th:src="@{/js/index.js}"></script>
</body>
</html>
