<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="renderer" content="webkit"/>
	<title>登录</title>

    <!-- Loading Bootstrap -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <!--Loading login.css-->
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body class="text-center">

    <form class="form-signin" th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">管理系统登录</h1>
        <label for="username" class="sr-only">用户名：</label>
        <input type="text" id="username" class="form-control" name="username" placeholder="请输入用户名" required="required" autofocus="autofocus" />
        <label for="password" class="sr-only">密码：</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="请输入密码" required="required" />
        <input type="hidden" class="form-control" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登&nbsp;&nbsp;录</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/lib/jquery/jquery-3.3.1.min.js}"></script>
    <!-- Bootstrap 4 requires Popper.js -->
    <script th:src="@{/lib/bootstrap/js/popper.min.js}"></script>
    <!--Bootstrap js-->
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>