<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editProductModalLabel">编辑商品</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="productName">商品名称</label>
                        <input type="text" class="form-control" id="productName" placeholder="商品名称" data-th-value="${product.productName}" />
                    </div>
                    <div class="form-group">
                        <label for="productIntro">商品简介</label>
                        <input type="text" class="form-control" id="productIntro" placeholder="商品简介" data-th-value="${product.productIntro}" />
                    </div>
                    <div class="form-group">
                        <label for="productDetail">商品详情</label>
                        <input type="text" class="form-control" id="productDetail" placeholder="商品详情" data-th-value="${product.productDetail}" />
                    </div>
                    <div class="form-group">
                        <label for="initialPrice">原始价格</label>
                        <input type="number" class="form-control" id="initialPrice" data-th-value="${product.initialPrice}" />
                    </div>
                    <div class="form-group">
                        <label for="discount">折扣</label>
                        <input type="number" class="form-control" id="discount" data-th-value="${product.discount}" />
                    </div>
                    <div class="form-group">
                        <label for="inventoryNumber">库存量</label>
                        <input type="number" class="form-control" id="inventoryNumber" data-th-value="${product.inventoryNumber}" />
                    </div>
                    <div class="form-group">
                        <label for="bookNumber">预约量</label>
                        <input type="number" class="form-control" id="bookNumber" data-th-value="${product.bookNumber}" />
                    </div>
                    <div class="form-group">
                        <label for="productOrder">产品排序</label>
                        <input type="number" class="form-control" id="productOrder" data-th-value="${product.productOrder}" />
                    </div>
                    <div class="form-group">
                        <label>是否有效</label>
                        <div data-th-if="${product.isValid == 0}">
                            <label class="radio-inline">
                                <input name="valid" type="radio" value="0" checked /> 失效
                            </label>
                            <label class="radio-inline">
                                <input name="valid" type="radio" value="1" /> 有效
                            </label>
                        </div>
                        <div data-th-if="${product.isValid == 1}">
                            <label class="radio-inline">
                                <input name="valid" type="radio" value="0" /> 失效
                            </label>
                            <label class="radio-inline">
                                <input name="valid" type="radio" value="1" checked /> 有效
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>产品属性</label>
                        <div>
                            <label class="control-label" data-th-each="prop : ${allProps}">
                                <input name="productAttrs" type="checkbox" data-th-value="${prop.propId}" data-th-text="'&nbsp;' + ${prop.propValue} + '&nbsp;&nbsp;'"/>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>产品类型</label>
                        <div>
                            <label class="control-label" data-th-each="type : ${allTypes}">
                                <input type="checkbox" name="productTypes" data-th-if="${type.productTypeId != 1}" data-th-value="${type.productTypeId}"
                                       data-th-text="'&nbsp;' + ${type.productTypeName} + '&nbsp;&nbsp;'"/>
                            </label>
                        </div>
                    </div>
                    <div class="form-group main-picture-area">
                        <label>产品主图</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group detail-picture-area">
                        <label>产品详情图</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="#" data-th-src="@{/img/add_picture.jpg}">
                                    <div class="caption">
                                        <p>
                                            <a href="#" class="btn btn-primary add-btn" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" class="btn btn-default delete-btn" role="button">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <input type="file" style="display: none" onchange="modifyAddOnchange(this);">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="modifyProductModalSubmit();">提交修改</button>
            </div>
        </div>
    </div>
</div>
