<h1 class="page-header">所有订单</h1>
<div class="row" id="all_orders_div">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>订单编号</th>
                <th>下单账号</th>
                <th>收货人</th>
                <th>收货地址</th>
                <th>购买数量(个)</th>
                <th>支付金额(元)</th>
                <th>订单类型</th>
                <th>订单状态</th>
                <th>生效时间</th>
                <th>失效时间</th>
                <th>是否有效</th>
                <th>生成时间</th>
                <th>更新时间</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <ul class="pagination pull-right"></ul>
</div>