<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kkwrite.gallery.mapper.evaluate.EvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.kkwrite.gallery.pojo.evaluate.EvaluateVo" >
    <result column="evaluate_id" property="evaluateId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="reply_user_id" property="replyUserId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="evaluate_content" property="evaluateContent" jdbcType="VARCHAR" />
    <result column="evaluate_time" property="evaluateTime" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="ext_0" property="ext0" jdbcType="VARCHAR" />
    <result column="ext_1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext_2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext_3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext_4" property="ext4" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    evaluate_id, product_id, user_id, username, reply_user_id, status, evaluate_content, evaluate_time, 
    is_valid, creation_time, creator, update_time, updator, ext_0, ext_1, ext_2, ext_3, 
    ext_4
  </sql>
  
  <select id="selectEvaluatesCountByProductId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	select 
  		count(0) countValue
	from gly_evaluate a
	where 
		a.is_valid = 1
		and a.status = 2
		and a.product_id = #{productId}
  </select>
  
  <select id="selectEvaluatesByProductId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
		(select b.username from gly_user b where a.user_id = b.user_id) username,	
		a.*
	from gly_evaluate a
	where 
		a.is_valid = 1
		and a.status = 2
		and a.product_id = #{productId}
	order by a.evaluate_time desc 
  </select>
  
  <select id="selectEvaluatesByProductIdAndPage" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select 
		(select b.username from gly_user b where a.user_id = b.user_id) username,	
		a.*
	from gly_evaluate a
	where 
		a.is_valid = 1
		and a.status = 2
		and a.product_id = #{productId} 
	order by a.evaluate_time desc 
	limit #{begin},#{count} 
  </select>
  
</mapper>