<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kkwrite.gallery.mapper.module.GlyModuleItemMapper" >
  <resultMap id="BaseResultMap" type="com.kkwrite.gallery.pojo.module.GlyModuleItemDO" >
    <id column="module_item_id" property="moduleItemId" jdbcType="INTEGER" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="module_item_name" property="moduleItemName" jdbcType="VARCHAR" />
    <result column="module_item_type" property="moduleItemType" jdbcType="INTEGER" />
    <result column="module_item_image" property="moduleItemImage" jdbcType="VARCHAR" />
    <result column="module_item_order" property="moduleItemOrder" jdbcType="REAL" />
    <result column="is_valid" property="valid" jdbcType="INTEGER" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="ext_0" property="ext0" jdbcType="VARCHAR" />
    <result column="ext_1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext_2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext_3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext_4" property="ext4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    module_item_id, module_id, product_id, module_item_name, module_item_type, module_item_image, 
    module_item_order, is_valid, creation_time, creator, update_time, updator, ext_0, 
    ext_1, ext_2, ext_3, ext_4
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gly_module_item
    where module_item_id = #{moduleItemId,jdbcType=INTEGER}
  </select>
  <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.kkwrite.gallery.service.home.ModuleItemQuery">
  	select 
    <include refid="Base_Column_List" />
    from gly_module_item
    <where>
    	<if test="moduleId != null">
    		module_id = #{moduleId,jdbcType=INTEGER}
    	</if>
    	<if test="valid != null">
    		and is_valid = #{valid,jdbcType=INTEGER}
    	</if>
    </where>
    order by module_item_order
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gly_module_item
    where module_item_id = #{moduleItemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kkwrite.gallery.pojo.module.GlyModuleItemDO" >
    insert into gly_module_item (module_item_id, module_id, product_id, 
      module_item_name, module_item_type, module_item_image, 
      module_item_order, is_valid, creation_time, 
      creator, update_time, updator, 
      ext_0, ext_1, ext_2, ext_3, 
      ext_4)
    values (#{moduleItemId,jdbcType=INTEGER}, #{moduleId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{moduleItemName,jdbcType=VARCHAR}, #{moduleItemType,jdbcType=INTEGER}, #{moduleItemImage,jdbcType=VARCHAR}, 
      #{moduleItemOrder,jdbcType=REAL}, #{valid,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR}, 
      #{ext0,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, 
      #{ext4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kkwrite.gallery.pojo.module.GlyModuleItemDO" >
    insert into gly_module_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleItemId != null" >
        module_item_id,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="moduleItemName != null" >
        module_item_name,
      </if>
      <if test="moduleItemType != null" >
        module_item_type,
      </if>
      <if test="moduleItemImage != null" >
        module_item_image,
      </if>
      <if test="moduleItemOrder != null" >
        module_item_order,
      </if>
      <if test="valid != null" >
        is_valid,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="ext0 != null" >
        ext_0,
      </if>
      <if test="ext1 != null" >
        ext_1,
      </if>
      <if test="ext2 != null" >
        ext_2,
      </if>
      <if test="ext3 != null" >
        ext_3,
      </if>
      <if test="ext4 != null" >
        ext_4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleItemId != null" >
        #{moduleItemId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="moduleItemName != null" >
        #{moduleItemName,jdbcType=VARCHAR},
      </if>
      <if test="moduleItemType != null" >
        #{moduleItemType,jdbcType=INTEGER},
      </if>
      <if test="moduleItemImage != null" >
        #{moduleItemImage,jdbcType=VARCHAR},
      </if>
      <if test="moduleItemOrder != null" >
        #{moduleItemOrder,jdbcType=REAL},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="ext0 != null" >
        #{ext0,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkwrite.gallery.pojo.module.GlyModuleItemDO" >
    update gly_module_item
    <set >
      <if test="moduleId != null" >
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="moduleItemName != null" >
        module_item_name = #{moduleItemName,jdbcType=VARCHAR},
      </if>
      <if test="moduleItemType != null" >
        module_item_type = #{moduleItemType,jdbcType=INTEGER},
      </if>
      <if test="moduleItemImage != null" >
        module_item_image = #{moduleItemImage,jdbcType=VARCHAR},
      </if>
      <if test="moduleItemOrder != null" >
        module_item_order = #{moduleItemOrder,jdbcType=REAL},
      </if>
      <if test="valid != null" >
        is_valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="ext0 != null" >
        ext_0 = #{ext0,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext_1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext_2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext_3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        ext_4 = #{ext4,jdbcType=VARCHAR},
      </if>
    </set>
    where module_item_id = #{moduleItemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkwrite.gallery.pojo.module.GlyModuleItemDO" >
    update gly_module_item
    set module_id = #{moduleId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      module_item_name = #{moduleItemName,jdbcType=VARCHAR},
      module_item_type = #{moduleItemType,jdbcType=INTEGER},
      module_item_image = #{moduleItemImage,jdbcType=VARCHAR},
      module_item_order = #{moduleItemOrder,jdbcType=REAL},
      is_valid = #{valid,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR},
      ext_0 = #{ext0,jdbcType=VARCHAR},
      ext_1 = #{ext1,jdbcType=VARCHAR},
      ext_2 = #{ext2,jdbcType=VARCHAR},
      ext_3 = #{ext3,jdbcType=VARCHAR},
      ext_4 = #{ext4,jdbcType=VARCHAR}
    where module_item_id = #{moduleItemId,jdbcType=INTEGER}
  </update>
</mapper>