<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kkwrite.gallery.mapper.module.GlyModuleMapper" >
  <resultMap id="BaseResultMap" type="com.kkwrite.gallery.pojo.module.GlyModuleDO" >
    <id column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="module_name" property="moduleName" jdbcType="VARCHAR" />
    <result column="p_module_id" property="pModuleId" jdbcType="INTEGER" />
    <result column="p_module_name" property="pModuleName" jdbcType="VARCHAR" />
    <result column="module_title" property="moduleTitle" jdbcType="VARCHAR" />
    <result column="module_template" property="moduleTemplate" jdbcType="INTEGER" />
    <result column="module_order" property="moduleOrder" jdbcType="INTEGER" />
    <result column="module_desc" property="moduleDesc" jdbcType="CHAR" />
    <result column="is_valid" property="valid" jdbcType="INTEGER" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="ext_0" property="ext0" jdbcType="VARCHAR" />
    <result column="ext_1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext_2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext_3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext_4" property="ext4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    module_id, module_name, p_module_id, p_module_name, module_title, module_template, module_order, module_desc, is_valid, creation_time, 
    creator, update_time, updator, ext_0, ext_1, ext_2, ext_3, ext_4
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gly_module
    where module_id = #{moduleId,jdbcType=INTEGER}
  </select>
  <select id="selectByParentId" resultMap="BaseResultMap" parameterType="com.kkwrite.gallery.service.home.ModuleQuery" >
    select 
    <include refid="Base_Column_List" />
    from gly_module
    where p_module_id = #{pModuleId,jdbcType=INTEGER}
    and is_valid = #{valid,jdbcType=INTEGER}
    order by module_order
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gly_module
    where module_id = #{moduleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kkwrite.gallery.pojo.module.GlyModuleDO" >
    insert into gly_module (module_id, module_name, p_module_id, 
      p_module_name, module_desc, is_valid, 
      creation_time, creator, update_time, 
      updator, ext_0, ext_1, 
      ext_2, ext_3, ext_4
      )
    values (#{moduleId,jdbcType=INTEGER}, #{moduleName,jdbcType=VARCHAR}, #{pModuleId,jdbcType=INTEGER}, 
      #{pModuleName,jdbcType=VARCHAR}, #{moduleDesc,jdbcType=CHAR}, #{isValid,jdbcType=INTEGER}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updator,jdbcType=VARCHAR}, #{ext0,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kkwrite.gallery.pojo.module.GlyModuleDO" >
    insert into gly_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="moduleName != null" >
        module_name,
      </if>
      <if test="pModuleId != null" >
        p_module_id,
      </if>
      <if test="pModuleName != null" >
        p_module_name,
      </if>
      <if test="moduleDesc != null" >
        module_desc,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="ext0 != null" >
        ext_0,
      </if>
      <if test="ext1 != null" >
        ext_1,
      </if>
      <if test="ext2 != null" >
        ext_2,
      </if>
      <if test="ext3 != null" >
        ext_3,
      </if>
      <if test="ext4 != null" >
        ext_4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="pModuleId != null" >
        #{pModuleId,jdbcType=INTEGER},
      </if>
      <if test="pModuleName != null" >
        #{pModuleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleDesc != null" >
        #{moduleDesc,jdbcType=CHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="ext0 != null" >
        #{ext0,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkwrite.gallery.pojo.module.GlyModuleDO" >
    update gly_module
    <set >
      <if test="moduleName != null" >
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="pModuleId != null" >
        p_module_id = #{pModuleId,jdbcType=INTEGER},
      </if>
      <if test="pModuleName != null" >
        p_module_name = #{pModuleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleDesc != null" >
        module_desc = #{moduleDesc,jdbcType=CHAR},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="ext0 != null" >
        ext_0 = #{ext0,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext_1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext_2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext_3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        ext_4 = #{ext4,jdbcType=VARCHAR},
      </if>
    </set>
    where module_id = #{moduleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkwrite.gallery.pojo.module.GlyModuleDO" >
    update gly_module
    set module_name = #{moduleName,jdbcType=VARCHAR},
      p_module_id = #{pModuleId,jdbcType=INTEGER},
      p_module_name = #{pModuleName,jdbcType=VARCHAR},
      module_desc = #{moduleDesc,jdbcType=CHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR},
      ext_0 = #{ext0,jdbcType=VARCHAR},
      ext_1 = #{ext1,jdbcType=VARCHAR},
      ext_2 = #{ext2,jdbcType=VARCHAR},
      ext_3 = #{ext3,jdbcType=VARCHAR},
      ext_4 = #{ext4,jdbcType=VARCHAR}
    where module_id = #{moduleId,jdbcType=INTEGER}
  </update>
</mapper>