<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kkwrite.gallery.mapper.product.GlyProductPictureMapper" >
  <resultMap id="BaseResultMap" type="com.kkwrite.gallery.pojo.product.GlyProductPicture" >
    <id column="product_picture_code" property="productPictureCode" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_picture_name" property="productPictureName" jdbcType="VARCHAR" />
    <result column="product_picture_file_name" property="productPictureFileName" jdbcType="VARCHAR" />
    <result column="product_picture_width" property="productPictureWidth" jdbcType="VARCHAR" />
    <result column="product_picture_height" property="productPictureHeight" jdbcType="VARCHAR" />
    <result column="product_picture_type" property="productPictureType" jdbcType="INTEGER" />
    <result column="product_picture_order" property="productPictureOrder" jdbcType="REAL" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="ext_0" property="ext0" jdbcType="VARCHAR" />
    <result column="ext_1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext_2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext_3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext_4" property="ext4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    product_picture_code, product_id, product_picture_name, product_picture_file_name, 
    product_picture_width, product_picture_height, product_picture_type, product_picture_order, 
    is_valid, creation_time, creator, update_time, updator, ext_0, ext_1, ext_2, ext_3, 
    ext_4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kkwrite.gallery.pojo.product.GlyProductPictureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gly_product_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gly_product_picture
    where product_picture_code = #{productPictureCode,jdbcType=INTEGER}
  </select>
  <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.kkwrite.gallery.pojo.product.GlyProductPicture">
  	select 
    <include refid="Base_Column_List" />
    from gly_product_picture
    <where>
    	<if test="productPictureCode != null">
    		product_picture_code = #{productPictureCode,jdbcType=INTEGER}
    	</if>
    	<if test="productId != null">
    		and product_id = #{productId,jdbcType=INTEGER}
    	</if>
    	<if test="isValid != null">
    		and is_valid = #{isValid,jdbcType=INTEGER}
    	</if>
    </where>
    order by product_picture_order
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gly_product_picture
    where product_picture_code = #{productPictureCode,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kkwrite.gallery.pojo.product.GlyProductPictureExample" >
    delete from gly_product_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kkwrite.gallery.pojo.product.GlyProductPicture" >
    insert into gly_product_picture (product_picture_code, product_id, product_picture_name, 
      product_picture_file_name, product_picture_width, 
      product_picture_height, product_picture_type, 
      product_picture_order, is_valid, creation_time, 
      creator, update_time, updator, 
      ext_0, ext_1, ext_2, ext_3, 
      ext_4)
    values (#{productPictureCode,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{productPictureName,jdbcType=VARCHAR}, 
      #{productPictureFileName,jdbcType=VARCHAR}, #{productPictureWidth,jdbcType=VARCHAR}, 
      #{productPictureHeight,jdbcType=VARCHAR}, #{productPictureType,jdbcType=INTEGER}, 
      #{productPictureOrder,jdbcType=REAL}, #{isValid,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR}, 
      #{ext0,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, 
      #{ext4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kkwrite.gallery.pojo.product.GlyProductPicture" >
    insert into gly_product_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productPictureCode != null" >
        product_picture_code,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productPictureName != null" >
        product_picture_name,
      </if>
      <if test="productPictureFileName != null" >
        product_picture_file_name,
      </if>
      <if test="productPictureWidth != null" >
        product_picture_width,
      </if>
      <if test="productPictureHeight != null" >
        product_picture_height,
      </if>
      <if test="productPictureType != null" >
        product_picture_type,
      </if>
      <if test="productPictureOrder != null" >
        product_picture_order,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="ext0 != null" >
        ext_0,
      </if>
      <if test="ext1 != null" >
        ext_1,
      </if>
      <if test="ext2 != null" >
        ext_2,
      </if>
      <if test="ext3 != null" >
        ext_3,
      </if>
      <if test="ext4 != null" >
        ext_4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productPictureCode != null" >
        #{productPictureCode,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productPictureName != null" >
        #{productPictureName,jdbcType=VARCHAR},
      </if>
      <if test="productPictureFileName != null" >
        #{productPictureFileName,jdbcType=VARCHAR},
      </if>
      <if test="productPictureWidth != null" >
        #{productPictureWidth,jdbcType=VARCHAR},
      </if>
      <if test="productPictureHeight != null" >
        #{productPictureHeight,jdbcType=VARCHAR},
      </if>
      <if test="productPictureType != null" >
        #{productPictureType,jdbcType=INTEGER},
      </if>
      <if test="productPictureOrder != null" >
        #{productPictureOrder,jdbcType=REAL},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="ext0 != null" >
        #{ext0,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kkwrite.gallery.pojo.product.GlyProductPictureExample" resultType="java.lang.Integer" >
    select count(*) from gly_product_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gly_product_picture
    <set >
      <if test="record.productPictureCode != null" >
        product_picture_code = #{record.productPictureCode,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.productPictureName != null" >
        product_picture_name = #{record.productPictureName,jdbcType=VARCHAR},
      </if>
      <if test="record.productPictureFileName != null" >
        product_picture_file_name = #{record.productPictureFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.productPictureWidth != null" >
        product_picture_width = #{record.productPictureWidth,jdbcType=VARCHAR},
      </if>
      <if test="record.productPictureHeight != null" >
        product_picture_height = #{record.productPictureHeight,jdbcType=VARCHAR},
      </if>
      <if test="record.productPictureType != null" >
        product_picture_type = #{record.productPictureType,jdbcType=INTEGER},
      </if>
      <if test="record.productPictureOrder != null" >
        product_picture_order = #{record.productPictureOrder,jdbcType=REAL},
      </if>
      <if test="record.isValid != null" >
        is_valid = #{record.isValid,jdbcType=INTEGER},
      </if>
      <if test="record.creationTime != null" >
        creation_time = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updator != null" >
        updator = #{record.updator,jdbcType=VARCHAR},
      </if>
      <if test="record.ext0 != null" >
        ext_0 = #{record.ext0,jdbcType=VARCHAR},
      </if>
      <if test="record.ext1 != null" >
        ext_1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null" >
        ext_2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null" >
        ext_3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
      <if test="record.ext4 != null" >
        ext_4 = #{record.ext4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gly_product_picture
    set product_picture_code = #{record.productPictureCode,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=INTEGER},
      product_picture_name = #{record.productPictureName,jdbcType=VARCHAR},
      product_picture_file_name = #{record.productPictureFileName,jdbcType=VARCHAR},
      product_picture_width = #{record.productPictureWidth,jdbcType=VARCHAR},
      product_picture_height = #{record.productPictureHeight,jdbcType=VARCHAR},
      product_picture_type = #{record.productPictureType,jdbcType=INTEGER},
      product_picture_order = #{record.productPictureOrder,jdbcType=REAL},
      is_valid = #{record.isValid,jdbcType=INTEGER},
      creation_time = #{record.creationTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      updator = #{record.updator,jdbcType=VARCHAR},
      ext_0 = #{record.ext0,jdbcType=VARCHAR},
      ext_1 = #{record.ext1,jdbcType=VARCHAR},
      ext_2 = #{record.ext2,jdbcType=VARCHAR},
      ext_3 = #{record.ext3,jdbcType=VARCHAR},
      ext_4 = #{record.ext4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkwrite.gallery.pojo.product.GlyProductPicture" >
    update gly_product_picture
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productPictureName != null" >
        product_picture_name = #{productPictureName,jdbcType=VARCHAR},
      </if>
      <if test="productPictureFileName != null" >
        product_picture_file_name = #{productPictureFileName,jdbcType=VARCHAR},
      </if>
      <if test="productPictureWidth != null" >
        product_picture_width = #{productPictureWidth,jdbcType=VARCHAR},
      </if>
      <if test="productPictureHeight != null" >
        product_picture_height = #{productPictureHeight,jdbcType=VARCHAR},
      </if>
      <if test="productPictureType != null" >
        product_picture_type = #{productPictureType,jdbcType=INTEGER},
      </if>
      <if test="productPictureOrder != null" >
        product_picture_order = #{productPictureOrder,jdbcType=REAL},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="ext0 != null" >
        ext_0 = #{ext0,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext_1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext_2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext_3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        ext_4 = #{ext4,jdbcType=VARCHAR},
      </if>
    </set>
    where product_picture_code = #{productPictureCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkwrite.gallery.pojo.product.GlyProductPicture" >
    update gly_product_picture
    set product_id = #{productId,jdbcType=INTEGER},
      product_picture_name = #{productPictureName,jdbcType=VARCHAR},
      product_picture_file_name = #{productPictureFileName,jdbcType=VARCHAR},
      product_picture_width = #{productPictureWidth,jdbcType=VARCHAR},
      product_picture_height = #{productPictureHeight,jdbcType=VARCHAR},
      product_picture_type = #{productPictureType,jdbcType=INTEGER},
      product_picture_order = #{productPictureOrder,jdbcType=REAL},
      is_valid = #{isValid,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR},
      ext_0 = #{ext0,jdbcType=VARCHAR},
      ext_1 = #{ext1,jdbcType=VARCHAR},
      ext_2 = #{ext2,jdbcType=VARCHAR},
      ext_3 = #{ext3,jdbcType=VARCHAR},
      ext_4 = #{ext4,jdbcType=VARCHAR}
    where product_picture_code = #{productPictureCode,jdbcType=INTEGER}
  </update>
</mapper>